/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  font-family: "IBM Plex mono", sans-serif;
  background-image: var(--background-image);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  /* сохраните в разметке и стилях класс page у тега body. Он удобен, чтобы составлять селекторы для разных цветовых тем. */
}

.header {
  display: grid;
  grid-template-rows: calc((669px - 192px) / 2) 192px calc((669px - 192px) / 2);
  grid-template-areas:
    "header"
    "title"
    "paragraph";
  height: 100vh;
  min-height: 668px;
  align-items: center;
  padding: 10px;
  padding-top: 5px;
}
.header::after,
.header::before {
  content: "";
  position: absolute;
  inline-size: 25px;
  block-size: 25px;
}

.header::before {
  top: 10px;
  right: 10px;
  border-top: 1px solid var(--accent-color, #ff0070);
  border-right: 1px solid var(--accent-color, #ff0070);
}

.header::after {
  bottom: 10px;
  left: 10px;
  border-bottom: 1px solid var(--accent-color, #ff0070);
  border-left: 1px solid var(--accent-color, #ff0070);
}

.decorative_sign_header {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  text-transform: uppercase;
  position: absolute;
  top: 10px;
  right: 19px;
  color: var(--accent-color, #ff0070);
}

.decorative_sign_header::after {
  content: "";
  inline-size: 9px;
  block-size: 9px;
  background-color: var(--accent-color, #ff0070);
  border-radius: 50%;
  box-shadow: 0px 0px 4px 2px var(--accent-color, #ff0070);
}

.header__theme-menu {
  grid-area: header;
  background: transparent;
}

.header__theme-menu-list {
  display: flex;
  align-content: flex-end;
  flex-wrap: wrap;
  gap: 15px;
  flex-direction: column;
}

.header__theme-menu-button {
  color: var(--accent-color);
  background: transparent;
  text-transform: lowercase;
  border: none;
  font-size: var(--main-font-size, 18px);
  line-height: 1;
  inline-size: 70px;
}

.header__theme-menu-button:hover {
  outline: 1px solid var(--outline-color, rgb(255 0 112 / 0.4));
}
.header__theme-menu-button:focus-visible {
  border-bottom: 1px solid var(--accent-color, #ff0070);
}

.header__theme-menu-button_type_dark {
  border: 1px solid var(--accent-color, #ff0070);
}
.header__theme-menu-button_type_light {
  border: none;
}
.header__theme-menu-button_active {
  pointer-events: none;
}

.main_title {
  font-weight: bold;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  color: var(--main-title-color);
  text-shadow: 4px 4px 0px var(--accent-color, #ff0070);
  line-height: 0.825;
  grid-area: title;
}

.title_decor {
  font-size: var(--main-font-size, 18px);
  font-weight: bold;
  line-height: 23.4px;
  background-color: var(--accent-color, #ff0070);
  color: var(--subtitles-color, #000028);
  inline-size: 100%;
  justify-self: center;
  block-size: min-content;
}

.header .title_decor {
  grid-area: paragraph;
  align-self: self-start;
  margin-top: 50px;
}

.main {
  padding-right: 10px;
  padding-left: 10px;
  min-inline-size: 355px;
  justify-self: center;
  inline-size: 100%;
}

.reasons {
  padding-top: 40px;
}

.factors {
  padding-top: 30px;
}

.advice {
  padding-top: 30px;
  padding-bottom: 35px;
}

h2.title_decor {
  padding-bottom: 20px;
  color: var(--accent-color);
  background-color: transparent;
}

p {
  font-size: var(--main-font-size, 18px);
  color: var(--main-text-color, #f1b2ce);
  min-inline-size: 355px;
  margin-block-start: 10px;
  margin-block-end: 18px;
  inline-size: 100%;
}

.advice h4:first-of-type {
  margin-top: 22px;
}

.word_accent {
  text-shadow: 2px 2px 0px var(--accent-color, #ff0070);
  font-weight: bold;
}

.word_accent:hover {
  text-decoration: underline;
}

.word_accent:focus {
  outline: 1px solid var(--accent-color, #ff0070);
}

.picture {
  inline-size: 100%;
}

.pictures {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding-bottom: 40px;
}

.footer {
  height: 100vh;
  inline-size: 100%;
  min-height: 668px;
  align-items: center;
  display: grid;
  grid-template-areas:
    "upper-border"
    "footer-text"
    "lower-border";
  grid-template-rows: 25px 1fr 25px;
  padding: 10px;
}

.footer::after,
.footer::before {
  content: "";
  inline-size: 25px;
  block-size: 25px;
}

.footer::before {
  border-bottom: 1px solid var(--accent-color, #ff0070);
  border-left: 1px solid var(--accent-color, #ff0070);
  align-self: flex-end;
  grid-area: lower-border;
}

.footer::after {
  border-top: 1px solid var(--accent-color, #ff0070);
  border-right: 1px solid var(--accent-color, #ff0070);
  align-self: flex-start;
  grid-area: upper-border;
  justify-self: end;
}

.footer .main_title {
  text-shadow: 2px 2px 0px var(--accent-color, #ff0070);
  grid-area: footer-text;
  justify-self: center;
}

@media (width > 768px) {
  .header {
    min-height: 1024px;
    grid-template-rows: calc((1025px - 192px) / 2) 192px calc(
        (1025px - 192px) / 2
      );
    padding: 0px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 20px;
  }

  .decorative_sign_header {
    top: 20px;
    right: 29px;
  }
  .header::before {
    top: 20px;
    right: 20px;
  }
  .header::after {
    bottom: 20px;
    left: 20px;
  }
  .header__theme-menu {
    padding-top: 25px;
  }
  .main_title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    padding-bottom: 40px;
  }
  .header .title_decor {
    inline-size: calc((100% - 20px) / 2);
    align-self: flex-start;
    justify-self: flex-end;
    margin-top: 97px;
  }
  .main {
    display: flex;
    flex-direction: column;
    gap: 63px;
    padding-left: 20px;
    padding-right: 20px;
  }
  .reasons {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-areas: "reasons-title reasons-text";
    gap: 20px;
    padding-top: 60px;
  }
  .reasons h2 {
    grid-area: reasons-title;
    inline-size: auto;
  }

  .reasons h3 {
    inline-size: 100%;
  }
  .reasons_text {
    grid-area: reasons-text;
  }

  .factors {
    display: grid;
    grid-template-rows: repeat(auto-fit, minmax(70px, 1fr));
    grid-template-columns: 236px 1fr;
    grid-auto-flow: column;
    grid-template-areas:
      "factors-title ."
      "factors-multitasking factors-multitasking"
      "factors-food factors-food"
      "factors-gadgets factors-gadgets";
    padding-top: 0;
  }

  .factors h2 {
    grid-area: factors-title;
    inline-size: 100%;
  }
  .multitasking_factor {
    grid-area: factors-multitasking;
  }
  .food_factor {
    grid-area: factors-food;
  }
  .gadgets_factor {
    grid-area: factors-gadgets;
  }

  .advice {
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr 2fr;
    grid-template-areas: "advice-title advice-points";
    padding-top: 0;
    padding-bottom: 0;
  }
  .advice h2 {
    grid-area: advice-title;
  }
  .advice_points {
    grid-area: advice-points;
  }
  .pictures {
    display: grid;
    grid-template-areas:
      "picture-title picture-title picture-title"
      "picture-sunset picture-sunset picture-ice-cream"
      "picture-tape picture-books picture-ice-cream"
      "picture-tape picture-street picture-street";
    grid-auto-flow: row dense;
    gap: 20px;
    padding-bottom: 60px;
  }
  .picture {
    inline-size: 100%;
    block-size: 100%;
    object-fit: cover;
  }
  .pictures h3 {
    grid-area: picture-title;
  }
  .picture_sunset {
    grid-area: picture-sunset;
  }
  .picture_ice_cream {
    grid-area: picture-ice-cream;
  }
  .picture_tape {
    grid-area: picture-tape;
  }
  .picture_books {
    grid-area: picture-books;
  }
  .picture_street {
    grid-area: picture-street;
  }

  .footer {
    padding: 20px;
    min-height: 1024px;
  }
  .footer h2 {
    padding: 0;
  }
}

@media (width >= 1024px) {
  .header {
    grid-template-rows: calc((768px - 130px) / 2) 130px calc(
        (768px - 130px) / 2
      );
    min-height: 768px;
  }
  .main_title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }
  .main {
    gap: 62px;
  }
  .header__theme-menu {
    padding: 0;
    align-self: flex-start;
    justify-self: center;
  }
  .header__theme-menu-list {
    flex-direction: row;
    gap: 10px;
    padding-left: 20px;
  }
  .header .title_decor {
    margin-top: 95px;
  }
  .reasons {
    gap: 12px;
  }
  .factors {
    grid-template-rows: none;
    grid-template-columns: repeat(auto-fit, calc((100% - 40px) / 3));
    grid-template-areas:
      "factors-title . ."
      "factors-multitasking factors-food factors-gadgets";
    gap: 20px;
  }

  .factors h2 {
    padding-bottom: 0;
  }
  .factors p {
    min-inline-size: auto;
  }
  .advice {
    grid-template-columns: repeat(auto-fit, 1fr);
    grid-template-areas: "advice-title advice-points advice-points";
  }
  .advice h4:first-of-type {
    margin-top: 20px;
  }
  .footer {
    min-height: 768px;
  }
}
