/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  font-family: "IBM Plex mono", sans-serif;
  background-image: var(--background-image);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  /* сохраните в разметке и стилях класс page у тега body. Он удобен, чтобы составлять селекторы для разных цветовых тем. */
}

.header {
  display: grid;
  grid-template-rows: 1fr min-content 1fr;;
  grid-template-areas:
    "header"
    "title"
    "paragraph";
  height: 100vh;
  min-height: 668px;
  align-items: center;
  padding: 10px;
  padding-top: 5px;
}

.decorated-zone {
  position:relative;
}
.decorated-zone::after,
.decorated-zone::before {
  content: "";
  position: absolute;
  inline-size: 25px;
  block-size: 25px;
}

.decorated-zone::before {
  top: 10px;
  right: 10px;
  border-top: 1px solid var(--angles-color, #ff0070);
  border-right: 1px solid var(--angles-color, #ff0070);
}

.decorated-zone::after {
  bottom: 10px;
  left: 10px;
  border-bottom: 1px solid var(--angles-color, #ff0070);
  border-left: 1px solid var(--angles-color, #ff0070);
}

.decorative_sign_header {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  text-transform: uppercase;
  position: absolute;
  top: 10px;
  right: 19px;
  color: var(--accent-color, #ff0070);
}

.decorative_sign_header::after {
  content: "";
  inline-size: 9px;
  block-size: 9px;
  background-color: var(--accent-color, #ff0070);
  border-radius: 50%;
  box-shadow: 0px 0px 4px 2px var(--accent-color, #ff0070);
}

.header__theme-menu {
  grid-area: header;
  background: transparent;
  padding-top: 10px;
}

.header__theme-menu-list {
  display: flex;
  align-content: flex-end;
  flex-wrap: wrap;
  gap: 10px;
  flex-direction: column;
}

.header__theme-menu-button {
  color: var(--button-color);
  background: transparent;
  text-transform: lowercase;
  border: none;
  font-size: var(--main-font-size, 18px);
  line-height: 1;
  inline-size: 70px;
  min-block-size: 26px;
}

.header__theme-menu-button:hover {
  outline: 1px solid var(--outline-color, rgb(255 0 112 / 0.4));
}


.header__theme-menu-button:focus {
  outline: none;
}
.header__theme-menu-button:focus-visible {
  border-bottom: 1px solid var(--button-color, #ff0070);
}


.header__theme-menu-button_active {
  pointer-events: none;
  border: 1px solid var(--button-color);
}

.main_title {
  font-weight: bold;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  color: var(--main-title-color);
  text-shadow: 4px 4px 0px var(--shadow-color, #ff0070);
  line-height: 0.825;
  grid-area: title;
}

.header .main_title {
  padding-top: 5px;
}

.title_decor {
  font-size: var(--main-font-size, 18px);
  font-weight: bold;
  line-height: 23.4px;
  background-color: var(--accent-color, #ff0070);
  color: var(--subtitles-color, #000028);
  inline-size: 100%;
  justify-self: center;
  block-size: min-content;
}

.header .title_decor {
  grid-area: paragraph;
  align-self: self-start;
  margin-top: 55px;
}

.main {
  padding-right: 10px;
  padding-left: 10px;
  justify-self: center;
  inline-size: 100%;
}

.content-section {
  display: flex
  ;
      flex-direction: column;
}

.reasons {
  padding-top: 40px;
}

.factors {
  padding-top: 30px;
  gap: 20px;
}

.advice {
  padding-top: 30px;
  padding-bottom: 35px;
}

h2.title_decor {
  padding-bottom: 20px;
  color: var(--section-subtitle-color);
  background-color: transparent;
}

.main_text {
  font-size: var(--main-font-size, 18px);
  color: var(--main-text-color, #f1b2ce);
  margin-block-start: 10px;
  margin-block-end: 18px;
  inline-size: 100%;
}

.advice h4:first-of-type {
  margin-top: 22px;
}

.word_accent {
  text-shadow: 2px 2px 0px var(--accent-color);
}

.reasons .word_accent {
  text-shadow: 2px 2px 0px var(--word-accent-color);
}

.word_accent:hover {
  border: 1px solid var(--main-text-color);
}

.word_accent:focus-visible {
  outline: 1px solid var(--accent-color, #ff0070);
}

.picture {
  inline-size: 100%;
}

.pictures {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding-bottom: 40px;
}

.footer {
  height: 100vh;
  inline-size: 100%;
  min-height: 668px;
  align-items: center;
  display: grid;
  grid-template-areas:
    "upper-border"
    "footer-text"
    "lower-border";
  padding: 10px;
}


.footer .main_title {
  text-shadow: 2px 2px 0px var(--accent-color, #ff0070);
  grid-area: footer-text;
  justify-self: center;
}

@media (width >= 768px) {
  .header {
    min-height: 1024px;
    padding: 0px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 20px;
  }

  .decorative_sign_header {
    top: 20px;
    right: 29px;
  }
  .decorated-zone::before {
    top: 20px;
    right: 20px;
  }
  .decorated-zone::after {
    bottom: 20px;
    left: 20px;
  }
  .header__theme-menu {
    padding-top: 25px;
  }
  .main_title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    padding-bottom: 40px;
  }
  .header .title_decor {
    inline-size: calc((100% - 20px) / 2);
    align-self: flex-start;
    justify-self: flex-end;
    margin-top: 97px;
  }
  .main {
    display: flex;
    flex-direction: column;
    gap: 63px;
    padding-left: 20px;
    padding-right: 20px;
  }
  .reasons {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-areas: "reasons-title reasons-text";
    gap: 20px;
    padding-top: 60px;
  }
  .reasons h2 {
    grid-area: reasons-title;
    inline-size: auto;
  }

  .reasons h3 {
    inline-size: 100%;
  }
  .reasons_text {
    grid-area: reasons-text;
  }

  .factors {
    display: grid;
    grid-template-rows: repeat(auto-fit, minmax(70px, 1fr));
    grid-template-columns: 236px 1fr;
    grid-auto-flow: column;
    grid-template-areas:
      "factors-title ."
      "factors-multitasking factors-multitasking"
      "factors-food factors-food"
      "factors-gadgets factors-gadgets";
    padding-top: 0;
  }

  .factors h2 {
    grid-area: factors-title;
    inline-size: 100%;
  }
  .factor:first-of-type {
    grid-area: factors-multitasking;
  }
  .factor:nth-of-type(2) {
    grid-area: factors-food;
  }
  .factor:nth-of-type(3){
    grid-area: factors-gadgets;
  }


  .advice {
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr 2fr;
    grid-template-areas: "advice-title advice-points";
    padding-top: 0;
    padding-bottom: 0;
  }
  .advice h2 {
    grid-area: advice-title;
  }

  .advice h4 {
    font-weight: normal;
  }
  .advice_points {
    grid-area: advice-points;
  }
  .pictures {
    display: grid;
    grid-template-areas:
      "picture-title picture-title picture-title"
      "picture-sunset picture-sunset picture-ice-cream"
      "picture-tape picture-books picture-ice-cream"
      "picture-tape picture-street picture-street";
    grid-auto-flow: row dense;
    gap: 20px;
    padding-bottom: 60px;
  }
  .picture {
    block-size: 100%;
    object-fit: cover;
  }
  .pictures h3 {
    grid-area: picture-title;
  }
  .picture_sunset {
    grid-area: picture-sunset;
  }
  .picture_ice_cream {
    grid-area: picture-ice-cream;
  }
  .picture_tape {
    grid-area: picture-tape;
  }
  .picture_books {
    grid-area: picture-books;
  }
  .picture_street {
    grid-area: picture-street;
  }

  .footer {
    padding: 20px;
    min-height: 1024px;
  }
  .footer h2 {
    padding: 0;
  }
}

@media (width >= 1024px) {
  .header {
    min-height: 768px;
  }
  .main {
    gap: 62px;
  }
  .header__theme-menu {
    padding: 0;
    align-self: flex-start;
    justify-self: center;
  }
  .header__theme-menu-list {
    flex-direction: row;
    gap: 10px;
    padding-left: 20px;
  }
  .header .title_decor {
    margin-top: 95px;
  }
  .reasons {
    gap: 12px;
  }
  .factors {
    grid-template-rows: none;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    gap: 20px;
    grid-auto-flow: row;
    grid-auto-columns: minmax(100px, 1fr);
}

.factor:first-of-type {
  grid-column: 1 / 2;
}

.factor:nth-of-type(2) {
  grid-column: 2 / 3;
        grid-row: 2 / 3;
}
.factor:nth-of-type(3) {
  grid-column: 3 / 4;
  grid-row: 2 / 3;
}
}

  .factors h2 {
    padding-bottom: 0;
  }

  .advice {
    grid-template-columns: repeat(auto-fit, 1fr);
    grid-template-areas: "advice-title advice-points advice-points";
  }
  .advice h4:first-of-type {
    margin-top: 20px;
  }
  .footer {
    min-height: 768px;
  }

